{% extends "base.html" %} {% block content %}
<h1>To do list</h1>
<u1>
    {% for todo in todos %}
    <li>
        {{todo.title }}: {% if todo.completed %}Completed{% else %}Incomplete{% endif %}
    </li>
    {% endfor %}
</u1>

<!-- Add todo button -->
<div>
    <h2>Add New Todo</h2>
    <form method="post" action="{% url 'add_todo_item' %}">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Todo Title">
        <button type="submit">Add Todo</button>
    </form>
</div>

<!-- Clear todos button -->
<div>
    <h2>Clear Todos</h2>
    <form method="post" action="{% url 'clear_todos' %}">
        {% csrf_token %}
        <button type="submit">Clear todos</button>
        </u1>
    </form>
</div>

{% endblock %}